@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--background-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--foreground-light);
}

:root {
  --background-dark: #131313;
  --background-light: #dbdbdb;
  --background-for-window: #202020;

  --foreground-light: #eaeaea;
  --foreground-dark: #000000;
  --foreground-active: #2b2b2b;

  --foreground-extra-color: #626262;

  --button-background: #ffffff;
  --button-background-active: #757575;
}

.button-colors {
  background-color: var(--button-background);
  color: var(--foreground-dark);
}
.button-colors:active {
  background-color: var(--button-background-active);
  color: var(--foreground-light);
}

.window-colors {
  background-color: var(--background-for-window);
}

body {
  color: var(--foreground-light);
  background: var(--background-dark);
}
